@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arvo&family=Dosis:wght@600&display=swap");
.jumbotron {
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: white;
}
.wrapper {
  margin-bottom: 30px;
}
.display-4 strong {
  text-shadow: 1px 3px white;
  color: black;
  font-family: "Arvo", serif;
}
.lead {
  text-shadow: 1px 1px white;
  color: black;
  font-family: "Arvo", serif;
}
body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.gambar {
  width: 200px;
  height: 200px;
  justify-self: center;
  background-image: url("./gambar/aku.png");
  background-size: cover;
  background-position-x: -30px;
  background-repeat: no-repeat;
  box-shadow: 1px 1px 1px 1px gray;
}

section {
  height: 100vh;
  padding-top: 20px;
}
.garis {
  color: black;
}
.sectionDua {
  background-color: #e9ecef;
  padding-top: 20px;
}
.wrapIcon a {
  font-size: 30px;
  transition: 0.5s;
  color: black;
}
.wrapIcon a:hover {
  transform: scale(1.5);
}

#tools {
  padding-top: 20px;
}
.kotak {
  background-color: white;
  border-radius: 8px;
  padding: 10px;
  cursor: pointer;
  transition: 0.8s;
  overflow: hidden;
  position: relative;
  margin-bottom: 15px;
}
.kotak:hover {
  transform: scale(1.1);
  text-shadow: 1px 1px black;
}
.dalamKotak {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.dalamKotak h2 {
  font-size: 20px;
  margin-left: 10px;
}
.keterangan {
  justify-content: center;
  display: flex;
  position: relative;
}
.kotak .keterangan p {
  text-align: center;
  margin-top: 10px;
  width: 80%;
}
.logo {
  width: 50px;
  height: 50px;
  background-image: url("./gambar/react.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  filter: drop-shadow(1px 1px 1px black);
}
.logo.dua {
  background-image: url("./gambar/next.png");
}
.logo.tiga {
  background-image: url("./gambar/firebase.png");
  width: 100px;
  height: 50px;
}
.logo.node {
  background-image: url("./gambar/nodejs.png");
  width: 50px;
  height: 50px;
  margin-left: 10px;
}
.logo.mongo {
  background-image: url("./gambar/mongo.png");
  width: 100px;
  height: 26px;
}
.navbar-nav li a {
  font-family: "Dosis", sans-serif;
}
.navbarLink {
  display: flex;
  justify-content: flex-end;
}
.gambarProjectSatu {
  position: absolute;
  left: 10px;
  width: 140px;
  overflow: hidden;
  opacity: 0.2;
  transform: rotate(20deg);
}
.gambarProjectSatu-1 {
  position: absolute;
  left: 10px;
  width: 140px;
  overflow: hidden;
  opacity: 0.7;
  transform: rotate(-20deg);
}
.gambarProjectDua {
  position: absolute;
  left: -80px;
  height: 100px;
  bottom: -20px;
  overflow: hidden;
  opacity: 0.5;
  transform: rotate(20deg);
}
.gambarProjectDua-1 {
  position: absolute;
  left: -80px;
  bottom: 35px;
  height: 100px;
  overflow: hidden;
  opacity: 0.7;
  transform: rotate(-20deg);
}
.gambarProjectTiga {
  position: absolute;
  height: 150px;
  left: -30px;
  overflow: hidden;
  opacity: 0.3;
  bottom: 5px;
  transform: rotate(20deg);
}
.gambarProjectTiga-1 {
  position: absolute;
  height: 150px;
  overflow: hidden;
  opacity: 0.3;
  bottom: 5px;
  left: -100px;
  transform: rotate(-20deg);
}
.navbar-brand {
  font-family: "Dosis", sans-serif;
}
